<div class="grid-wrapper">
	<h1>
		<a href="pulpit.html" class="logo">demobank w sam raz do testów</a>
	</h1>
	<div class="header-search-container" id="search_form">
		<form class="form-header-search" id="header_search">
			<input type="search" name="phrase" placeholder="co chcesz zrobić?" />
			<input type="submit" class="form-header-search-button" value="Szukaj"/>
		</form>
	</div>
	<a href="pulpit.html" class="i-message-white ms-show show-page-loader"/>
	<a href="#" class="search-trigger ms-show" id="search_trigger"/>
	<a href="logowanie_etap_1.html" class="btn logout show-page-loader">Wyloguj</a>
	<a href="#" class="nav-mobile-trigger ms-show" id="nav_mobile_trigger"/>
	<nav class="nav-mobile ms-show" id="nav_mobile">
		<ul>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-dashboard"/>
					mój pulpit
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-accounts"/>
					konta osobiste
				</a>
			</li>
			<li class="category active">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-payments"/>
					płatności
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-savings"/>
					oszczędności
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-cards"/>
					karty płatnicze
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-loans"/>
					kredyty
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-insurances"/>
					ubezpieczenia
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-offer"/>
					oferta dla Ciebie
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-contact"/>
					kontakt
				</a>
			</li>
			<li class="category">
				<a href="pulpit.html" class="show-page-loader">
					<i class="i-nav-settings"/>
					ustawienia
				</a>
			</li>
		</ul>
	</nav>
</div>